@font-face {
    font-family: whiteboard;
    src: url(../KGLifeisMessy.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*Apparently it's bad to do this reset? Unclear.*/
    /*So I put margin:0 on body and nav ul to eliminate the gaps around the header.*/
    /*margin: 0;
    padding: 0;*/
}


body {
    line-height: 1.7em;
    color: #FFFFF3;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: white;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #FFF;
    /*background: #E5F8FF;*/
    /*background: #CC0010;*/

    padding: 2em 2em 2em 2em;
}

nav {
    /*fails 2.4 with #FFF*/
    background: #F80;
    font-weight: 500;
    /*passes 3 with #FFF*/
    /*background: #E57A00;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    display: inline;
    /*padding-left: 1em;*/
    /*float: left;*/
}
nav li a {
    color: #FFF;
    border-bottom: none;
    /*display: inline-block;*/
    /*text-align: center;*/
    padding: 0em 1em;
}
nav li a:hover {
    color: #CC0010;
    /*color: #FBFF12;*/
    /*color: #7FF2FF;*/
}

/*nav li:not(:first-child) {
    display: none;
}
nav li.hamburger {
    float: right;
    display: inline-block;
}
nav ul.vertical {
    position: relative;
}
nav ul.vertical li {
    float: none;
    display: inline;
}
nav ul.vertical li a {
    display: block;
    text-align: left;
}
nav ul.vertical li.hamburger {
    position: absolute;
    right: 0;
    top: 0;
}*/

main {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Poppins", "Helvetica", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}
h1 {
    font-size: 1.8em;
    font-weight: 700;
}

p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.2em;
}

a {
    color: #FBFF12;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #F80;
}

section {
    text-align: center;
    margin: 0em;
    padding: 3em 1.5em 2em 1.5em;

}
section h1 {
    text-transform: uppercase;
    line-height: 1.4em;
}

section a {
    color: #FBFF12;
    color: #FFFFF3;
    border-bottom: 1px dotted #FFFFF3;
}
section a:hover {
    color: #F80;
    border-bottom: 2px solid #F80;
}

article {
    text-align: justify;
    margin-bottom: 4em;
    clear: left;
}
/*?? Why? I set the body color to this.*/
article h2 {
    color: #FFFFF3;
}

section ul {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.2em;
}


footer {
    background: #CC0010;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4em;
    /* Add the following for a sticky footer. */
    /*position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999999;*/
}
footer a {
    /*color: #FBFF12;*/
    color: #7FF2FF;
}

code {
    font-size: 1.1em;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 0.25em;
}

pre {
  background-color: #000;
  font-family: "Oxygen Mono", Monaco, monospace;
  color: #F8F8F8;
  padding: 1em 0px 1em 1em;
  margin-top: 0;
}

nav.long-nav {
    display: none;
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.secondary {
    background: #FFF;
}

.gradient {
  background: #E5F8FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(45deg, #CCF1FF, #FFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, #CCF1FF, #FFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, #CCF1FF, #FFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to 45deg, #CCF1FF, #FFF); /* Standard syntax */
}

.post-it {
    width: 60%;
    height: 10em;
    background-color: yellow;
    color: black;
    font-size: 2em;
    padding: 1em;
    margin: 2em 0 0 0;
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.splash-head {
    font-family: "Work Sans", "Arial Black", "Helvetica", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    letter-spacing: 0;
    color: #000;
    padding: 0em 0.5em 0em 0em;
    line-height: 1em;
    margin-bottom: 0;
    z-index: 1;
}
.splash-head-outro {
    margin-top: 0;
    margin-bottom: 0.5em;
    display: inline;
}
.splash-subhead {
    color: #00FF00;
    letter-spacing: 0.05em;
    border: 1px solid green;
    /*border-radius: 10em;*/
    /*border-top-left-radius: 8em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 8em;
    border-bottom-left-radius: 8em;*/
    padding: 0em;
    max-width: 90%;
    max-height: 20em;
    margin: auto;
    text-align: left;
    font-size: 1.1em;
    font-weight: 400;
    z-index: 2;
    /*position: absolute;
    left: 0;
    bottom: 0;*/

}
.mac-window-container {
    position: relative;
}
.splash-subhead-container {
    position: relative;
    border: 1px solid red;
}
.mac-window-image {
    z-index: 1;
    max-height: 30em;
    border: 1px solid blue;
    /*max-width: 80%;*/

    /*float: left;*/
}
.splash-subhead p {
    padding: 0em 0 0em 0;
    font-family: "Poppins", "Helvetica", sans-serif;
}

#wrapper {
   margin: 1px auto;
   padding: 0;
   border: 2px solid black;
   width: 100%;
   height: 30em;
   overflow: hidden;
}


/*.bitmoji {
    margin-bottom: 10em;

}*/
.bitmoji-image {
    max-width: 40%;
    height: auto;
    position: absolute;
    right: 0;
    top: 3em;
    z-index: 2;
}
.bitmoji-text {
    /*display: inline-flex;*/
    width: 82%;
    padding-left: 0em;
    margin-left: -1em;
}
.terminal {
    font-family: "Oxygen Mono", monospace;
    /*color: #2AFF00;
    color: #54FF00;*/
    color: #00FF00;
}

.big-button {
    background: #CC0010;
    padding: 0.5em 2em;
    border-radius: 50px;
}
a.terminal-link {
    color: #FFFFF3;
}
a.terminal-link:hover {
    background: #99000C;
    border: 1px solid red;
}

.section-image {
    max-width: 50%;
    height: 6em;
    margin: 2em 0 -1em 0;
    border: none;
}
.section-line rect {
    fill: #FFFFF3;
}
.section-image-artsy {
    max-width: 90%;
    margin-bottom: 1em;
}
.section-line-artsy rect {
    fill: #555;
}

/*pass/fail WCAG 2.0 contrast ratio relative to #FFFFF3*/
.section-magenta {
    /*passes 4.6*/
    background: #DD188B;
}
.section-blue {
    /*passes 3*/
    background: #109FD3;
}
.section-red {
    /*passes 5.8*/
    background: #CC0010;
}
.section-navy {
    /*passes 14.4*/
    background: #162559;
}
.section-green {
    /*passes 3.2*/
    background: #21A521;
}
.section-white {
    background: #FFF;
    color: #333;
}
.section-white a {
    color: #109FD3;
}
.section-white h1, .section-white h2 {
    color: #555;
}


.project-image {
    max-width: 25%;
    max-height: 15em;
    margin: 0em 1.5em 0em 0;
    border: none;
    float: left;
}
div.project-image {
    width: 100%;
    max-width: 25%;
    max-height: 15em;
    margin: 0em 1.5em 0em 0;
    float: left;
}
.project-image-logo {
    max-width: 100%;
    max-height: 5em; 
    border: none;
}
.project-description {
    display: inline;
}
.project-description-artsy {

}

.linklist {
    padding-left: 0;
}
.linklist li {
    display: inline;
    list-style-type: none;
    padding-right: 2em;
    font-size: 1.2em;
}
.linklist a {
    border-bottom: none;
}


.typeform-widget {
    width: 100%;
    height: 300px;
    margin-bottom: 4em;
}

.article-image {
    text-align: center;
    margin: auto;
}
.article-image img {
    width: 90%;
}

.profile-photo {
    max-width: 40%;
    border-radius: 20em;
    overflow: hidden;
}

.thumbnail {
    width: 5%;
    vertical-align: middle;
}

.aside {
    width: 85%;
    margin: 1.5em auto;
    padding: 1em 1.5em;
    background: #EEE;
    border-left: 0.5em solid #AAA;
}

.warning {
    width: 85%;
    margin: 1.5em auto;
    padding: 1em 1.5em;
    background: #EEE;
    border-left: 0.5em solid #CC0010;
}

.tip {
    width: 85%;
    margin: 1.5em auto;
    padding: 1em 1.5em;
    background: #EEE;
    border-left: 0.5em solid #21A521;
}








/*-- LANDSCAPE PHONE , TABLET (AND UP) MEDIA QUERIES --*/


@media (min-width: 40em) {

    .section-image-artsy {
        max-width: 70%;
    }
    .article-image img {
        width: 70%;
    }
    .profile-photo {
        max-width: 40%;
    }
    
    .bitmoji-text {
        margin-left: 0em;
        width: 78%;
    }
    .bitmoji-image {
        max-width: 35%;
    }
    .splash-subhead {
        /*margin: 4em 1em 2em 0em;*/
        max-width: 80%;
    }
    .splash-head {
        font-size: 2.8em;
    }
}

@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    section {
        margin: 0;
        padding: 0 8% 5% 8%;
    }

    .splash-head {
        font-size: 3.2em;
    }

    .splash-subhead {
        /*margin: 4.5em 1em 2em 2em;*/
        max-width: 70%;
    }
    /*.bitmoji-text {
        margin-left: 0em;
        width: 78%;
    }*/

    .typeform-widget {
        height: 400px;
    }

    .section-image {
        max-width: 60%;
        height: 8em;
    }

    .section-image-artsy {
        max-width: 60%;
    }

    .project-image {
        max-height: 12em;
    }
    div.project-image {
        /*width: 100%;*/
        max-height: 20em;
    }
    .project-image-logo {
        max-height: 4em;
    }


@media (min-width: 52em) {

    body {
        font-size: 17px;
    }
    /*.bitmoji-image {
        max-width: 30%;
    }*/
}    

@media (min-width: 56em) {
    nav.short-nav {
        display: none;
    }
    nav.long-nav {
        display: inline;
    }
}

/*-- DESKTOP (AND UP) MEDIA QUERIES --*/

@media (min-width: 68em) {

    section {
        margin: 0;
        padding: 0 10% 5% 10%;
    }



    .splash-head {
        font-size: 3.6em;
    }

    .splash-subhead {
        /*margin: 4.5em 1em 2em 8em;*/
        max-width: 45%;
    }
    .bitmoji-text {
        margin-left: 4em;
        width: 70%;
    }

    .section-image {
        max-width: 70%;
        height: 10em;
    }

    .project-image {
        margin-top: 4em;
    }
    div.project-image {
        margin-top: 3.5em;
    }

    .project-description {
        width: 70%;
        display: inline-block;
    }
}

@media (min-width: 78em) {

    body {
        font-size: 18px;
    }

    section {
        margin: 0;
        padding: 0 12% 5% 12%;
    }

    .bitmoji-text {
        margin-left: 5em;

    }
    .splash-head {
        font-size: 4em;
    }


}