* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*Apparently it's bad to do this reset? Unclear.*/
    /*So I put margin:0 on body and nav ul to eliminate the gaps around the header.*/
    /*margin: 0;
    padding: 0;*/
}


body {
    line-height: 1.7em;
    color: #FFFFF3;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 15px;
    background-color: magenta;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #000;
    color: red;
    padding-bottom: 2rem;
}

nav {
    background: #F80;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
nav ul li {
    display: inline;
    padding-right: 1em;
}

nav li a, footer a {
    color: #FFF;
    border-bottom: none;
}

main {
    background: yellow;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Montserrat", "Helvetica", sans-serif;
    letter-spacing: 0.1em;
}

p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.2em;
}

a {
    color: #42CAFD;
    text-decoration: none;
    border-bottom: 1px dotted #42CAFD;
}

a:hover {
    color: #ED6A5A;
}

section {
    text-align: center;
    margin: 0;
    padding: 0 1.5em 2em 1.5em;

}
section h1 {
    text-transform: uppercase;
    line-height: 1.4em;
}

section a {
    color: #F2F2A9;
}
section a:hover {
    color: #DCD6F7;
}

article {
    text-align: justify;
    margin-top: 2em;
    clear: left;
}
/*?? Why? I set the body color to this.*/
article h2 {
    color: #FFFFF3;
}

footer {
    background: #2D3E50;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: 14px;
    color: #C3DCE5;
    line-height: 1.5em;
}


.splash-head {
    font-family: "Shrikhand", "Helvetica", sans-serif;
    font-size: 30px;
    color: #FFF;
    padding: 0.5em 1em;
    font-weight: 100;
    line-height: 1em;
    margin-top: 1.6em;
    margin-bottom: 0;
}
.splash-head-outro {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: right;
}
.splash-subhead {
    color: #FFF;
    letter-spacing: 0.05em;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
    min-height: 90%;
    position: relative;
    text-align: center;
    font-size: 110%;
    /*font-family: "Poppins", "Helvetica", sans-serif;*/
    font-weight: 400;
}
.splash-subhead p {
    padding: 0em 0 1em 0;
    font-family: "Poppins", "Helvetica", sans-serif;
}

.section-image {
    max-width: 50%;
    height: 6em;
    margin: 2em 0 -1em 0;
    border: none;
}
.section-line rect {
    fill: #FFFFF3;
}

.section-purple {
    background: #DCD6F7;
    background: #CCB7F7;
    background: #7F3371;
}
.section-blue {
    background: #42CAFD;
    background: #16AEE5;
}
.section-red {
    background: #ED6A5A;
    background: #E54A39;
}
.section-green {
    background: #00D9C0;
    background: #13BFAB;
}

.project-image {
    max-width: 25%;
    max-height: 15em;
    margin: 0em 1.5em 0em 0;
    border: none;
    float: left;
}
.project-image-logo {
    max-width: 100%;
    max-height: 5em; 
    border: none;
}

.linklist {
    padding-left: 0;
}
.linklist li {
    display: inline;
    list-style-type: none;
    padding-right: 24px;
}

.typeform-widget {
    width: 100%;
    height: 300px;
    margin-bottom: 4em;
}






















.bookmark {
    padding-top: 2.4em;
}

.pure-button {
    background-color: #ED6A5A;
    color: white;
    padding: 0.5em 2em;
    border-radius: 50px;
}

.pure-button-primary:hover {
    background-color: #D85241;
}

a.pure-button-primary {
    background: #ED6A5A;
    color: #FFFFF3;
    max-width: 90%;
}



/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    body {
        font-size: 18px;
    }

    section {
        margin: 0;
        padding: 0 10% 5% 10%;
    }

    .splash-head {
        font-size: 250%;
    }

    .splash-subhead {
        width: 60%
    }

    .typeform-widget {
        height: 400px;
    }

    .section-image {
        max-width: 60%;
        height: 8em;
    }

    .project-image {
        max-height: 12em;
    }
    .project-image-logo {
        max-height: 4em;
    }

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 78em) {

    body {
        font-size: 20px;
    }

    section {
        margin: 0;
        padding: 0 15% 5% 15%;
    }

    .splash-head {
        font-size: 300%;
    }

    .splash-subhead {
        width: 40%
    }

    .section-image {
        max-width: 70%;
        height: 10em;
    }
}
