* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*Apparently it's bad to do this reset? Unclear.*/
    /*So I put margin:0 on body and nav ul to eliminate the gaps around the header.*/
    /*margin: 0;
    padding: 0;*/
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #FFFFF3;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 15px;
    background-color: magenta;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #000;
    color: red;
    padding-bottom: 2rem;
}

nav {
    background: #F80;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
nav ul li {
    display: inline;
    padding-right: 1em;
}

nav li a, footer a {
    color: #FFF;
    border-bottom: none;
}

main {
    background: yellow;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Montserrat", "Helvetica", sans-serif;
    letter-spacing: 0.1em;
}

p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 18px;
}

a {
    color: #42CAFD;
    text-decoration: none;
    border-bottom: 1px dotted #42CAFD;
}

a:hover {
    color: #ED6A5A;
}

section {
    text-align: center;
    margin: 0;
    padding: 0 1.5em 2em 1.5em;

}
section h1 {
    text-transform: uppercase;
    line-height: 1.4em;
}

section a {
    color: #F2F2A9;
}
section a:hover {
    color: #DCD6F7;
}

article {
    text-align: justify;
    margin-top: 2em;
}
/*?? Why? I set the body color to this.*/
article h2 {
    color: #FFFFF3;
}

footer {
    background: #2D3E50;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: 14px;
    color: #C3DCE5;
    line-height: 1.5em;
}



.splash-head {
    font-family: "Shrikhand", "Helvetica", sans-serif;
    font-size: 30px;
    color: #FFF;
    padding: 0.5em 1em;
    font-weight: 100;
    line-height: 1em;
    margin-top: 1.6em;
    margin-bottom: 0;
}
.splash-head-outro {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: right;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: #FFF;
    letter-spacing: 0.05em;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
    min-height: 90%;
    position: relative;
    text-align: center;
    font-size: 110%;
    /*font-family: "Poppins", "Helvetica", sans-serif;*/
    font-weight: 400;
}

.splash-subhead p {
    padding: 0em 0 1em 0;
    font-family: "Poppins", "Helvetica", sans-serif;
}

.section-image {
    max-width: 50%;
    height: 6em;
    margin: 2em 0 -1em 0;
    border: none;
}

.section-purple {
    background: #DCD6F7;
    background: #CCB7F7;
    background: #7F3371;
    color: #FFFFF3;
}
.section-blue {
    background: #42CAFD;
    background: #16AEE5;
    color: #FFFFF3;
}
.section-red {
    background: #ED6A5A;
    background: #E54A39;
    color: #FFFFF3;
}
.section-green {
    background: #00D9C0;
    background: #13BFAB;
    color: #FFFFF3;
}
.section-white {
    background: #FFFFF3;
    color: #2D3E50;
}
.section-white h1, h2, h3, h4, label {
    color: #2D3E50;
}

.content-purple a:hover {
    color: #F2F2A9;
}

.project-image {
    max-width: 30%;
    margin: 0em 1.5em 0em 0;
    border: none;
    float: left;
}
.project-image-logo {
    max-width: 100%;
    border: none;
}

.linklist {
    padding-left: 0;
}
.linklist li {
    display: inline;
    list-style-type: none;
    padding-right: 24px;
}

.section-line rect {
    fill: #FFFFF3;
}




















.form-block {
    width: 100%;
    margin: auto;
    margin-top: -4em;
    display: block;
}

.text-input {
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #E1E7ED;
    box-shadow: none;
}

/*.header-image {
    max-width: 35%;
    height: 6em;
    margin: 2em 0 -1em 0;
    border: none;
}

.content-subhead-image {
    width: 20%;
    margin: 3em 0 -3em 0;
    border: none;
}*/

.typeform-widget {
    width: 100%;
    height: 300px;
    padding: 0.5em;
    margin-bottom: 15em;
    border: 1px solid #2D3E50;
    border-radius: 10px;
}




.bookmark {
    padding-top: 2.4em;
}



.submit-button {
    margin: 3em auto;
    display: block;
}

.horizontal-center {
    margin: auto;
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */

/* Chrome/Opera/Safari */
::-webkit-input-placeholder { 
  color: #E5E5E3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}


.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-form input[placeholder] {
    color: red;
}

.radio-input {
    font-family: "Poppins", "Helvetica", sans-serif;
    padding-left: 0.4em;
    padding-bottom: 0.5em;
}

.text-input {
    font-family: "Poppins", "Helvetica", sans-serif;
    font-weight: 100;
    color: red;
}

/*
 * -- PURE BUTTON STYLES --
 */
.pure-button {
    background-color: #ED6A5A;
    color: white;
    padding: 0.5em 2em;
    border-radius: 50px;
}

.pure-button-primary:hover {
    background-color: #D85241;
}

a.pure-button-primary {
    background: #ED6A5A;
    color: #FFFFF3;
    max-width: 90%;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}



/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    width: 100%;
    padding: 0 0 2.5em 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2D3E50;
    background: #CCB7F7;
    background: #E0EBE8;
    background: #FFFFF3;
    font-family: "Oxygen", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 90%;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    /*color: #FFFFF3;*/
    color: #919996;
    text-transform: none;
}

.home-menu .pure-menu-selected a {
    color: #DCD6F7;
}

.home-menu a {
    color: #FFFFF3;
    color: #C6D1CE;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #DCD6F7;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #42CAFD;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 71%;
    top: 0;
    left: 0;
    /*position: fixed !important;*/
}

.splash-container-custom {
    background: #42CAFD;
    z-index: 1;
    /*overflow: hidden;*/
    /* The following styles are required for the "scroll-over" effect */
    width: 90%;
    height: 71%;
    /*top: 0;*/
    /*left: 0;*/
    margin: auto;
    margin-bottom: 8em;
    /*position: fixed !important;*/
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 71%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    /*text-transform: uppercase;*/

}

.splash-custom {
    height: 71%;
}

/* This is the main heading that appears on the blue section */


/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

 .content-block {
    margin: auto;
    text-align: justify;
}


.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    /*top: 70%;*/
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    background-color: #FFFFF3;
}

.bar {
    color: #FFFFF3;
    background: #FFFFF3;
    background-color: #FFFFF3;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: #FFFFF3;
}

.content-head-light {
    color: #FFFFF3;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #2d3e50;
    /*width: 80%;*/
    /*margin: auto;*/
}

.content-subhead-light {
    color: #FFFFF3;
    /*width: 80%;*/
    /*margin: auto;*/
}


/* This is the class used for the dark-background areas. */
.ribbon {
    background: #DCD6F7;
    color: #FFFFF3;
}



/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 18px;
    }

    /*p {
        font-weight: 300;
    }*/
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
        font-size: 80%;

    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

    .content-block {
        width: 90%;
    }

    .content-subhead-image {
        width: 90%;
        margin: 0 0 0 0;

    }

    .content-subhead-image-light {
        width: 90%;
        margin: 0 0 0 0;

    }

    .typeform-widget {
        height: 400px;
    }

    .header-image {
        max-width: 40%;
    }

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */

    .splash-head {
        font-size: 300%;
    }

    .content-block {
    width: 70%;
    }

    .content-subhead-image {
        width: 100%;
        margin: 0 0 0 0;
    }

    .content-subhead-image-light {
        width: 100%;
        margin: 0 0 0 0;

    }

    .header-image {
        max-width: 50%;
    }
}
