* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*Apparently it's bad to do this reset? Unclear.*/
    /*So I put margin:0 on body and nav ul to eliminate the gaps around the header.*/
    /*margin: 0;
    padding: 0;*/
}


body {
    line-height: 1.7em;
    color: #FFFFF3;
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 15px;
    background-color: magenta;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #FFF;
    padding: 2em 2em 2em 2em;

    /*background: #FFFFE5;*/
    /*clear: both;*/
    /*background-image: url("../img/bitmoji-talk-soon.jpg");*/

}

nav {
    background: #F80;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
nav ul li {
    display: inline;
    padding-right: 1em;
}

nav li a, footer a {
    color: #FFF;
    border-bottom: none;
}

main {
    background: yellow;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Montserrat", "Helvetica", sans-serif;
    letter-spacing: 0.1em;
}

p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.2em;
}

a {
    color: #42CAFD;
    text-decoration: none;
}

a:hover {
    color: #ED6A5A;
}

section {
    text-align: center;
    margin: 0;
    padding: 0 1.5em 2em 1.5em;

}
section h1 {
    text-transform: uppercase;
    line-height: 1.4em;
}

section a {
    color: #F2F2A9;
}
section a:hover {
    color: #DCD6F7;
    border-bottom: 2px solid #ED6A5A;
}

article {
    text-align: justify;
    margin-top: 2em;
    clear: left;
}
/*?? Why? I set the body color to this.*/
article h2 {
    color: #FFFFF3;
}

footer {
    background: #2D3E50;
    background: #111D44;
    background: #CC0010;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: 14px;
    color: #C3DCE5;
    line-height: 1.5em;
}


.splash-head {
    font-family: "Shrikhand", "Helvetica", sans-serif;
    font-size: 30px;
    color: #000;
    padding: 0.5em 0.5em 0.5em 0em;
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 0;
    z-index: 4;
}
.splash-head-outro {
    margin-top: 0;
    margin-bottom: 0.5em;
    /*text-align: right;*/
    display: inline;
}
.splash-subhead {
    color: #000;
    letter-spacing: 0.05em;
    border: 3px solid #000;
    border-radius: 20px;
    text-align: center;
    min-height: 90%;
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 110%;
    /*font-family: "Poppins", "Helvetica", sans-serif;*/
    font-weight: 400;
    z-index: 4;
}
.splash-subhead p {
    padding: 0em 0 1em 0;
    font-family: "Poppins", "Helvetica", sans-serif;
}

.bitmoji {
    position: absolute;
    right: 0;

}
.bitmoji-text {
    display: inline-flex;
    width: 80%;
    margin-bottom: 12em;
}
.bitmoji-image {
    display: inline-flex;
    position: absolute;
    right: 0;
    z-index: 1;
}

.section-image {
    max-width: 50%;
    height: 6em;
    margin: 2em 0 -1em 0;
    border: none;
}
.section-line rect {
    fill: #FFFFF3;
}

.section-purple {
    background: #DCD6F7;
    background: #CCB7F7;
    background: #7F3371;
    /*passes 4.6*/
    background: #DD188B;
}
.section-blue {
    background: #42CAFD;
    background: #16AEE5;
    background: #15A4D8;
    /*background: #149BCC;*/
}
.section-red {
    background: #ED6A5A;
    background: #E54A39;
    background: #CC0010;
    background: #111D44; /*blue*/
    background: #162559;
}
.section-green {
    /*passes 4.6*/
    background: #00871F;
    /*fails 2.1*/
    background: #32CD32;
    /*fails 2.8*/
    background: #23B223;
    /*passes 3.2*/
    background: #21A521;
}

.project-image {
    max-width: 25%;
    max-height: 15em;
    margin: 0em 1.5em 0em 0;
    border: none;
    float: left;
}
div.project-image {
    width: 100%;
    max-width: 25%;
    max-height: 15em;
    margin: 0em 1.5em 0em 0;
    float: left;
}
.project-image-logo {
    max-width: 100%;
    max-height: 5em; 
    border: none;
}
.project-description {
    display: inline;
}

.linklist {
    padding-left: 0;
}
.linklist li {
    display: inline;
    list-style-type: none;
    padding-right: 2em;
}

.typeform-widget {
    width: 100%;
    height: 300px;
    margin-bottom: 4em;
}
























.pure-button {
    background-color: #CC0010;
    color: white;
    padding: 0.5em 2em;
    border-radius: 50px;
}

.pure-button-primary:hover {
    background-color: #99000C;
}

a.pure-button-primary {
    background: #CC0010;
    color: #FFFFF3;
    max-width: 90%;
}





/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    body {
        font-size: 18px;
    }

    section {
        margin: 0;
        padding: 0 8% 5% 8%;
    }

    nav ul li {
        padding-right: 1.5em;
    }

    .splash-head {
        font-size: 250%;
        padding-left: 2em;
    }

    .splash-subhead {
        width: 60%
    }

    .typeform-widget {
        height: 400px;
    }

    .section-image {
        max-width: 60%;
        height: 8em;
    }

    .project-image {
        max-height: 12em;
    }
    div.project-image {
        /*width: 100%;*/
        max-height: 20em;
    }
    .project-image-logo {
        max-height: 4em;
    }

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 68em) {

    section {
        margin: 0;
        padding: 0 10% 5% 10%;
    }

    .splash-head {
        font-size: 300%;
        padding-left: 3em;
    }

    .splash-subhead {
        width: 40%
    }

    .section-image {
        max-width: 70%;
        height: 10em;
    }

    .project-image {
        margin-top: 4.5em;
    }
    div.project-image {
        margin-top: 4em;
    }

    .project-description {
        width: 70%;
        display: inline-block;
    }
}

@media (min-width: 78em) {

    body {
        font-size: 20px;
    }

    section {
        margin: 0;
        padding: 0 12% 5% 12%;
    }
}