.svg-light path, rect, polygon, circle {
    fill: #FFFFF3;
}

#pamlab path, ellipse, line {
    fill: none;
    stroke: #FFFFF3;
}

#scrubbie .a {
    fill: none;
}
#scrubbie .b{
    fill: #FFFFF3;
}
#scrubbie .c {
    fill: none;
    stroke-width: 0.3;
    stroke: red;
}
#scrubbie .d{
    fill: #00871F;
}

#gha-frame rect {
    fill: none;
    stroke: #FFFFF3;
}
#gha-sudo path {
    fill: #00871F;
    stroke: none;
}

#gdg polygon {
    fill: #FFFFF3;
    stroke: #15A4D8;
}
#gdg path {
    stroke: #15A4D8;
}
